
// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(233, 17, 17);
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: space-between;

  a {
    @include white-text-black-bg;

    div {
      margin: 10px;
      font-size: large;
    }
  ul {
    list-style: none;
    display: flex;
    align-items: center; 
    li {
        margin-right: 1.2rem; 
        cursor: pointer;
        list-style: none;
    }
  }
  }
}